.LuterJs-Button {
    /* General */
    padding: 10px 15px;
    border-radius: 100px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    /* Font */
    font-size: x-large;
    font-weight: bold;
    transition: all .2s ease;
}

.LuterJs-Button:active {
    transform: scale(.95);
}